# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [7]:
y_predict_train = lr.predict(X_train)
y_predict_test = lr.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [8]:
lr.score(X_train, y_train)

0.7310902920172363

In [9]:
lr.score(X_test, y_test)

0.780746363718958

## 4. Calculate and print mean squared error for both the training and the testing set.

In [10]:
from sklearn.metrics import mean_squared_error

In [11]:
mse_train = mean_squared_error(y_predict_train, y_train)
mse_test = mean_squared_error(y_predict_test, y_test)

In [12]:
mse_train, mse_test

(24.112892310635612, 13.547623178675485)

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [13]:
from sklearn.metrics import mean_absolute_error

In [14]:
mae_train = mean_absolute_error(y_predict_train, y_train)
mae_test = mean_absolute_error(y_predict_test, y_test)

In [15]:
mae_train, mae_test

(3.416887490319819, 2.915674858630966)

## Classification Model Evaluation

In [16]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [17]:
# from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
log = LogisticRegression(max_iter=10000)

In [20]:
log.fit(X_train,y_train)

/usr/local/Caskroom/miniconda/base/envs/ironhack=3.8/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(max_iter=10000)

In [21]:
y_predict_train = log.predict(X_train)
y_predict_test = log.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_train = accuracy_score(y_predict_train, y_train)
accuracy_test = accuracy_score(y_predict_test, y_test)

In [24]:
print(f'accuracy_train: {accuracy_train}')
print(f'accuracy_test: {accuracy_test}')

accuracy_train: 0.975
accuracy_test: 1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [25]:
from sklearn.metrics import balanced_accuracy_score

In [26]:
bas_train = balanced_accuracy_score(y_predict_train, y_train,)
bas_test = balanced_accuracy_score(y_predict_test, y_test)

In [27]:
print(f'bas_train: {bas_train}')
print(f'bas_test: {bas_test}')

bas_train: 0.9767441860465116
bas_test: 1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [28]:
from sklearn.metrics import precision_score

In [29]:
precision_train = precision_score(y_predict_train, y_train, average='macro')
precision_test = precision_score(y_predict_test, y_test, average='macro')

In [30]:
print(f'precision_train: {precision_train}')
print(f'precision_test: {precision_test}')

precision_train: 0.9729729729729729
precision_test: 1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [31]:
from sklearn.metrics import recall_score

In [32]:
recall_train = recall_score(y_predict_train, y_train, average='macro')
recall_test = recall_score(y_predict_test, y_test, average='macro')

In [33]:
print(f'recall_train: {recall_train}')
print(f'recall_test: {recall_test}')

recall_train: 0.9767441860465116
recall_test: 1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [34]:
from sklearn.metrics import f1_score

In [35]:
f1_train = f1_score(y_predict_train, y_train, average='macro')
f1_test = f1_score(y_predict_test, y_test, average='macro')

In [36]:
print(f'f1_train: {f1_train}')
print(f'f1_test: {f1_test}')

f1_train: 0.9738673001866621
f1_test: 1.0

In [37]:
result_train = [{"balanced accuracy":balanced_accuracy_score(y_predict_train, y_train),                            
                "accuracy": accuracy_score(y_predict_train, y_train),
                "precision": precision_score(y_predict_train, y_train, average='macro'),
                "recall": recall_score(y_predict_train, y_train, average='macro'),
                "f1 train": f1_score(y_predict_train, y_train, average='macro')
                },
                {"balanced accuracy":balanced_accuracy_score(y_predict_test, y_test),                            
                "accuracy": accuracy_score(y_predict_test, y_test),
                "precision": precision_score(y_predict_test, y_test, average='macro'),
                "recall": recall_score(y_predict_test, y_test, average='macro'),
                "f1 train": f1_score(y_predict_test, y_test, average='macro')
                }]

In [38]:
res = pd.DataFrame(result_train)
res

   balanced accuracy  accuracy  precision    recall  f1 train
0           0.976744     0.975   0.972973  0.976744  0.973867
1           1.000000     1.000   1.000000  1.000000  1.000000

## 13. Generate confusion matrices for both the training and the testing set.

In [39]:
from sklearn.metrics import confusion_matrix

In [40]:
confusion_matrix_train = confusion_matrix(y_predict_train, y_train)
confusion_matrix_test = confusion_matrix(y_predict_test, y_test)

In [41]:
confusion_matrix_train,confusion_matrix_test

(array([[43,  0,  0],
        [ 0, 34,  0],
        [ 0,  3, 40]]),
 array([[ 7,  0,  0],
        [ 0, 13,  0],
        [ 0,  0, 10]]))

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.